{% extends 'base.html' %}
{% block content %}
<div class="card p-4">
    <h3 class="fw-bold mb-3">Upload Documents</h3>
    <form method="post" enctype="multipart/form-data" class="border rounded p-4 text-center">
        {% csrf_token %}
        <input type="file" name="file" class="form-control mb-3" required>
        <button class="btn btn-primary" type="submit">Upload PDF</button>
    </form>
    {% if message %}
    <div class="alert alert-success mt-3">{{ message }}</div>
    {% endif %}
</div>
{% endblock %}
